# Ceci devra contenir votre configuration personnelle
# Ce fichier ne devrait pas être ajouté à git car chacun devra conserver sa propre configuration concernant les chemins pour stocker les fichiers
server:
  port: 8082
illustrations:
  path:
  url: http://localhost:8082/assets/
dataSource:
  username:
  password:
environments:
  development:
    dataSource:
      url: jdbc:postgresql://db-postgresql-nyc1-18909-do-user-16081489-0.db.ondigitalocean.com:25060/troc_tpt
  test:
    dataSource:
      url: jdbc:postgresql://db-postgresql-nyc1-18909-do-user-16081489-0.db.ondigitalocean.com:25060/troc_tpt
  production:
    dataSource:
      url: jdbc:postgresql://db-postgresql-nyc1-18909-do-user-16081489-0.db.ondigitalocean.com:25060/troc_tpt